
header nav .navigation {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav .navigation a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    background-color: white;
}

header nav .navigation a:hover{
    color: blue;
}

.container {
    width: 95%;
    height: 640px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #EAEAEA;
    margin: auto 40px;
    display: flex;
    justify-content: space-around;
}

/* p {
    font-weight: 900;
    display: flex;
    align-items: center;
} */

.main-card {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.first-card {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 500px;
    height: 110px;
}

.second-card {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 500px;
    height: 110px;
}

/* .middle-card { */
    /* display: flex;
    justify-content: space-around;
    padding-top: 40px; */
/* } */