header nav .navigation {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav .navigation a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    background-color: white;
}

header nav .navigation a:hover{
    color: blue;
}

.container {
    width: 95%;
    height: 640px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #EAEAEA;
    margin: auto 40px;
}


aside {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 100%;
}

.aside_nav{
    width: 100px;
    height: 400px;
    background: white; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aside_nav img{
    width: 50px;
}