header nav .navigation {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav .navigation a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    background-color: white;
}

header nav .navigation a:hover{
    color: blue;
}

.container {
    width: 95%;
    height: 640px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #EAEAEA;
    margin: 10px auto;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.academy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px #444;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 10px 20px 10px 50px;
}


.andy-cube {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 250px;
    height: 250px;
    padding: 25px;
}

.andy-cube:hover {
    background-color: lightblue;
    transition: all 0.4s;
    color: white;
}


.jullian-jobb {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 250px;
    height: 250px;
    padding: 25px;
}

.jullian-jobb:hover {
    background-color: lightblue;
    transition: all 0.4s;
    color: white;
}

 .russell-mccarthy {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 250px;
    height: 250px;
    padding: 25px;
}

.russell-mccarthy:hover {
    background-color: lightblue;
    transition: all 0.4s;
    color: white;
}


.john-jonson {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 250px;
    height: 250px;
    padding: 25px;
}

.john-jonson:hover {
    background-color: lightblue;
    transition: all 0.4s;
    color: white;
}

.larry-mcgee {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 250px;
    height: 250px;
    padding: 25px;
}

.larry-mcgee:hover {
    background-color: lightblue;
    transition: all 0.4s;
    color: white;
}

.dominic-ain {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 250px;
    height: 250px;
    padding: 25px;
}

.dominic-ain:hover{
    background-color: lightblue;
    transition: all 0.4s;
    color: white;
}

.estella-horton {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 250px;
    height: 250px;
    padding: 25px;
}

.estella-horton:hover {
    background-color: lightblue;
    transition: all 0.4s;
    color: white;
}

.dominic-dain {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    width: 250px;
    height: 250px; 
    padding: 25px
}

.dominic-dain:hover {
    background-color: lightblue;
    transition: all 0.4s;
    color: white;
}





